extends layout

block content
    .w3-container.w3-section.w3-card-4
        header.w3-container.w3-blue
            h3 Processo: #{data.base.codigo}

        .w3-container
            table.w3-table-all.w3-section
                tr
                    th Nível
                        td= data.base.nivel
                tr
                    th Título
                        td= data.base.titulo
                tr
                    th Descrição
                        td= data.base.descricao
                tr
                    th Status
                        td= data.base.status                                                            
    .w3-container.w3-blue
        footer.w3-container
            p
                a(href="/entidade/"+data.ide) Voltar à página da entidade