extends layout

block content
    .w3-container.w3-section.w3-card-4
        header.w3-container.w3-blue
            h3 Classe: #{data.base.codigo}

        .w3-container
            table.w3-table-all.w3-section
                tr
                    th Nível
                        td= data.base.nivel
                tr
                    th Título
                        td= data.base.titulo
                tr
                    th Descrição
                        td= data.base.descricao
                tr
                    th Status
                        td= data.base.status                       
                tr  
                    th Filhos
                        td
                            table.w3-table-all.w3-section
                                tr
                                    td Código
                                    td Título
                                    td Status
                                each f in data.base.filhos
                                    tr
                                        td
                                            a(href="http://localhost:7777/classes/"+data.classe1+"/"+data.classe2+"/c" + f.codigo)= f.codigo  
                                        td= f.titulo
                                        td= f.status                                  
    .w3-container.w3-blue
        footer.w3-container
            p
                a(href="http://localhost:7777/classes/"+data.classe1) Voltar à página principal