extends layout

block content
    .w3-container.w3-section.w3-card-4
        header.w3-container.w3-blue
            h3 Entidade: #{data.base.designacao}

        .w3-container
            table.w3-table-all.w3-section
                tr
                    th ID
                        td= data.base.id
                tr
                    th Estado
                        td= data.base.estado
                tr
                    th Sigla
                        td= data.base.sigla
                tr
                    th SIOE
                        td= data.base.sioe
                tr
                    th Designação
                        td= data.base.designacao
                tr
                    th Internacional
                        td= data.base.internacional                                                  
                tr  
                    th Tipologias a que pertence
                        td
                            table.w3-table-all.w3-section
                                tr
                                    td ID
                                    td Designação
                                    td Sigla
                                each t in data.tipologias
                                    tr
                                        td 
                                            a(href="http://localhost:7777/tipologia/"+ data.idt +"/entidade/"+ data.ide + "/tipologia/" + t.id)= t.id
                                        td= t.designacao 
                                        td= t.sigla                                  
    .w3-container.w3-blue
        footer.w3-container
            p
                a(href="/tipologia/"+ data.idt) Voltar à topologia