extends layout

block content
    .w3-container.w3-section.w3-card-4
        header.w3-container.w3-blue
            h3 Tipologia: #{data.base.designacao}

        .w3-container
            table.w3-table-all.w3-section
                tr
                    th Estado
                        td= data.base.estado
                tr
                    th Sigla
                        td= data.base.sigla
                tr
                    th Designação
                        td= data.base.designacao
                tr  
                    th Entidades pertencentes
                        td
                            table.w3-table-all.w3-section
                                tr
                                    td ID
                                    td Designação
                                    td Sigla
                                each e in data.elementos
                                    tr
                                        td= e.id
                                        td= e.designacao 
                                        td= e.sigla
                tr
                    th Lista de processos de que a tipologia é dona
                        td
                            table.w3-table-all.w3-section
                                tr
                                    td ID
                                    td Título
                                    td Código
                                each d in data.dono
                                    tr
                                        td= d.id
                                        td= d.titulo 
                                        td= d.codigo
                tr 
                    th Lista de processos de que a tipologia é participante
                        td
                            table.w3-table-all.w3-section
                                tr
                                    td ID
                                    td Título
                                    td Código
                                each p in data.participante
                                    tr
                                        td= p.id
                                        td= p.titulo 
                                        td= p.codigo                                    
    .w3-container.w3-blue
        footer.w3-container
            p
                a(href="/tipologia/"+data.idt+"/entidade/"+data.ide) Voltar à entidade