extends layout

block content
    link(rel='stylesheet' href='/stylesheets/account.css' media='screen')
    #df.w3-card-4.modal
    #display.w3-card-4.modal
    section#sec-63c0.u-clearfix.u-section-1
        .u-clearfix.u-sheet.u-valign-middle.u-sheet-1
            .u-clearfix.u-expanded-width.u-gutter-0.u-layout-wrap.u-layout-wrap-1
                .u-layout
                    .u-layout-row
                        .u-container-style.u-layout-cell.u-size-46.u-layout-cell-1
                            .u-border-2.u-border-custom-color-1.u-container-layout.u-container-layout-1
                                .u-table.u-table-responsive.u-table-1
                                    h6(style="font-family:Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-weight:bold;text-align:center;") Your Favourite Files
                                    table.u-table-entity(id="example", style="margin:57px 22px 22px 22px;font-size:12px; text-align:center")
                                        colgroup
                                            col(width='16.666666%')
                                            col(width='16.666666%')
                                            col(width='16.666666%')
                                            col(width='16.666666%')
                                            col(width='16.666666%')
                                            col(width='16.666666%')
                                        thead.u-custom-color-1.u-table-header.u-table-header-1
                                            tr(style='height: 30px;')
                                                th.u-table-cell Date
                                                th.u-table-cell File Title
                                                th.u-table-cell Author
                                                th.u-table-cell Your Classification
                                                th.u-table-cell
                                        tbody.u-table-body
                                            each a in lista
                                                tr(id=a._id, style='height: 75px;')
                                                    td.u-border-1.u-border-grey-40.u-border-no-left.u-border-no-right.u-table-cell=a.creationDate
                                                    td.u-border-1.u-border-grey-40.u-border-no-left.u-border-no-right.u-table-cell=a.title
                                                    each u in users
                                                        if u._id == a.autor
                                                            td.u-border-1.u-border-grey-40.u-border-no-left.u-border-no-right.u-table-cell
                                                                a(href="http://localhost:3002/users/account/"+u._id)=u.name
                                                    - var found = 0
                                                    - var match = idUser + "[?][;][0-9]"
                                                    - var temp = ""
                                                    each autoresClassificados in a.estrelas.autores
                                                        if autoresClassificados.match(match)
                                                            - found = 1
                                                            - temp = autoresClassificados
                                                    if found == 1
                                                        td.u-border-1.u-border-grey-40.u-border-no-left.u-border-no-right.u-table-cell
                                                            div(class="rating")
                                                                if temp == idUser+"?;5"
                                                                    span(class="fa fa-star checked" onclick="classificar(5,\""+temp+"\",\""+a._id+"\")") 
                                                                else 
                                                                    span(class="fa fa-star" onclick="classificar(5,\""+temp+"\",\""+a._id+"\")")
                                                                if (temp == idUser+"?;5" || temp == idUser+"?;4") 
                                                                    span(class="fa fa-star checked" onclick="classificar(4,\""+temp+"\",\""+a._id+"\")")
                                                                else 
                                                                    span(class="fa fa-star" onclick="classificar(4,\""+temp+"\",\""+a._id+"\")")
                                                                if (temp == idUser+"?;5" || temp == idUser+"?;4" || temp == idUser+"?;3") 
                                                                    span(class="fa fa-star checked" onclick="classificar(3,\""+temp+"\",\""+a._id+"\")")
                                                                else 
                                                                    span(class="fa fa-star" onclick="classificar(3,\""+temp+"\",\""+a._id+"\")")
                                                                if (temp == idUser+"?;5" || temp == idUser+"?;4" || temp == idUser+"?;3" || temp == idUser+"?;2") 
                                                                    span(class="fa fa-star checked" onclick="classificar(2,\""+temp+"\",\""+a._id+"\")")
                                                                else 
                                                                    span(class="fa fa-star" onclick="classificar(2,\""+temp+"\",\""+a._id+"\")")
                                                                if (temp == idUser+"?;5" || temp == idUser+"?;4" || temp == idUser+"?;3" || temp == idUser+"?;2" || temp == idUser+"?;1") 
                                                                    span(class="fa fa-star checked" onclick="classificar(1,\""+temp+"\",\""+a._id+"\")")
                                                                else 
                                                                    span(class="fa fa-star" onclick="classificar(1,\""+temp+"\",\""+a._id+"\")")
                                                    else
                                                        td.u-border-1.u-border-grey-40.u-border-no-left.u-border-no-right.u-table-cell
                                                            div(class="rating")
                                                                span(class="fa fa-star" onclick="classificar(5,\"?;0\",\""+a._id+"\")")
                                                                span(class="fa fa-star" onclick="classificar(4,\"?;0\",\""+a._id+"\")")
                                                                span(class="fa fa-star" onclick="classificar(3,\"?;0\",\""+a._id+"\")")     
                                                                span(class="fa fa-star" onclick="classificar(2,\"?;0\",\""+a._id+"\")")
                                                                span(class="fa fa-star" onclick="classificar(1,\"?;0\",\""+a._id+"\")")
                                                    td.u-border-1.u-border-grey-40.u-border-no-left.u-border-no-right.u-table-cell
                                                        button(class="button-transparent" onclick="location.href='http://localhost:3001/files/download/"+a.autor+"/"+a._id+"?token="+token+"';")
                                                            i(class="fa fa-download" style="font-size:20px;")
                                                        b           
                                                        button(class="button-transparent" onclick="removeFavourite(\""+a._id+"\")")
                                                            i(class="fa fa-close" style="font-size:20px;")
                                                        b           
                                                        button(class="button-transparent" onclick="location.href='http://localhost:3002/files/"+a._id+"'")
                                                            i(class="fa fa-file" style="font-size:20px;")
                                                        
                                            else 
                                                td(style='height: 75px;') You don't have files added to your Favourites!
                        .u-container-style.u-custom-color-1.u-layout-cell.u-size-14.u-layout-cell-2
                            .u-border-2.u-border-custom-color-1.u-container-layout.u-valign-middle.u-container-layout-2
                                h3(style="text-align:center;margin:-100px auto 0 auto;font-family:Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;") ABOUT ME    

                                if path == 0
                                    .container
                                        img.u-image.u-image-circle.u-preserve-proportions.u-image-1(src='https://www.inmosenna.com/wp-content/uploads/2018/07/avatar-user-business-man-399587fe24739d5a-512x512-300x300.png' alt='' data-image-width='300' data-image-height='300')
                                        .overlay
                                            i(class="icon-photo fa fa-image" onclick="mudafoto(\"" + user_id + "\",\"" + token +"\");")
                                else
                                    .container
                                        img.u-image.u-image-circle.u-preserve-proportions.u-image-1(src="http://localhost:3001/users/"+user_id+"/profilepic.jpeg?token="+token alt='' data-image-width='300' data-image-height='300')
                                        .overlay
                                            i(class="icon-photo fa fa-image" onclick="mudafoto(\"" + user_id + "\",\"" + token +"\");")

                                
                                dl(style="font-size:12px")
                                        dt
                                            b Your name:
                                            dd=user_name
                                        dt
                                            b Your email:
                                            dd= user_mail
                                        dt
                                            b Your Github:
                                            dd
                                                a(href="https://github.com/"+user_github target="_blank")= user_github
                                        dt
                                            b Your Role:
                                            dd= user_role
                                        dt
                                            b Your Course:
                                            dd= user_course
                                        dt
                                            b Your Department:
                                            dd= user_department
                                button(class="button" style="font-size:12px" onclick="editProfile(\""+user_name+"\",\""+user_github+"\",\"" + user_course + "\",\"" + user_department + "\")") Change your properties
                                        br
                                        i(class="fa fa-cogs" style="font-size:15px;")
